<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/livretout_db?useSSL=false&amp;serverTimeZone=UTC</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.hbm2ddl.auto">create</property>   <!-- create/create-drop/update/validate -->
		<property name="hibernate.charset">UTF-8</property>
		<mapping class="fr.doranco.livretout.entity.Article"></mapping>
		<mapping class="fr.doranco.livretout.entity.Category"></mapping>
		<mapping class="fr.doranco.livretout.entity.User"></mapping>
		<mapping class="fr.doranco.livretout.entity.Adresse"></mapping>
		<mapping class="fr.doranco.livretout.entity.Commentaire"></mapping>
	
	</session-factory>
</hibernate-configuration>